<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="CRASH" description="Trilogia del videojuego">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link rel="icon" type="image/jpg" href="../../public/img/crash1.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">
    
    <title>Crash Bandicoot</title>
</head>
<body>
    <header>
        <div class="divContainerNav">
            <img src="../../public/img/crash1.jpg" alt="Perrito" />
      
            <nav class="nav">
              <ul class="ulElementos">
                <li>
                  <button><a href="./index.html">Inicio</a></button>
                </li>
                <li>
                  <button><a href="./tablaClientes.html">Clientes</a></button>
                </li>
                <li>
                  <button><a href="./tablaCompras.html">Comprar</a></button>
                </li>
              </ul>
            </nav>
          </div>
    </header>
</body>
</html>