<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta author="CRASH" description="Trilogia del videojuego" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts -->
    <link rel="icon" type="image/jpg" href="../../public/img/crash1.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <title>Crash Bandicoot</title>
  </head>

  <body>
    <header>
      <div class="divContainerNav">
        <img src="../../public/img/crash1.jpg" alt="Perrito" />

        <nav class="nav">
          <ul class="ulElementos">
            <li>
              <button><a href="./index.html">Inicio</a></button>
            </li>
            <li>
              <button><a href="./tablaClientes.html">Clientes</a></button>
            </li>
            <li>
              <button><a href="./tablaCompras.html">Ventas</a></button>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="sectionC">
      <img src="../../public/img/ctr-full-logo.png" alt="" />
      <h1 style="font-size: 70px">CRASH Y SU TRASCENDENCIA!</h1>
      <span>¡SIGUE BAJANDO!</span>
      <div class="divBoton">
        <a href="#cards"><button type="button">Ver</button></a>
      </div>
    </section>

    <h1 style="font-size: 70px; margin-top: 50px">CRASH</h1>

    <section class="section1">
      <div class="divP">
        <p>
          Crash Bandicoot es el nombre de una serie de videojuegos protagonizado
          por el personaje del mismo nombre. Fue creada en 1996 por Naughty Dog,
          quien desarrolló los primeros cuatro títulos, bajo la distribución de
          Universal Interactive Studios.
        </p>
      </div>

      <img
        src="../../public/img/crash1.jpg"
        style="padding: 0px 10px"
        alt=""
        width="500px"
        height="400px"
      />
    </section>

    <footer>
      <div class="divSpan">
        <span style="text-align: left">@Ejercicios Semilleros</span>
      </div>
    </footer>

    <script src="app.js"></script>
  </body>
</html>
