* {
  margin: 0px;
}

body {
  background-color: #262bff !important;
}
h1,
h2,
h3 {
  text-align: center;
  margin-top: 20px;
  font-family: "Bungee Spice", cursive;
}

li {
  text-align: center;
  font-family: "Bungee Spice", cursive;
}
span {
  font-size: 40px;
  color: white;
  font-family: "Noto Sans Display", sans-serif;
  text-shadow: black 0.1em 0.1em 0.2em;
}
p {
  color: white;
  font-family: "Noto Sans Display", sans-serif;
}

.divContainerNav{
  display: flex;
  background-color:rgb(24, 30, 185);
  justify-content: space-between;
  height: 80px;
}

.nav{
  width: 500px;
  height: 90px;
}
.ulElementos{

  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center;
  list-style: none;
}
.ulElementos li button a{
  text-decoration: none;
  font-size: 20px;
  color: black;

}
.ulElementos li button{
  border: none;
  border-radius: 0.2rem;
  padding: 10px 15px;
  background-color: white;
}
.ulElementos li button:hover{
  background-color: #d5d1e9;
}


.divContainerNav img{
  padding: 10px 10px;
  width: 150px ; 
  height: 80px ;
  border-radius: 2rem;

}




.sectionC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 665px;
  background-image: url("../../public/img/bandera.jpg");
}
.sectionC img {
  width: 300px;
  height: 300px;
}

.divBoton {
    padding: 8px;
}
.divBoton button {
  background-color: yellow;
  width: 200px;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 4px;
}
.divBoton button:hover {
  cursor: pointer;
}
.section1 {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}

.divP {
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
.section1 p {
  font-size: 30px;
  text-align: justify;
}
.section1 img {
  border-radius: 4rem;
}

footer {
  background-color: black;
  text-align: right;
}
footer span {
  font-size: 15px;
}
.divSpan {
  padding: 5px;
}
@media (max-width: 640px) {
  .divHeaderPadre {
    display: none;
  }
  .section1 {
    flex-direction: column;
  }
  .divCards {
    flex-direction: column;
  }
  h1,
  h2 {
    font-size: 50px !important;
  }
  .divP {
    padding: 35px;
  }
  .section1 img {
    padding: 35px !important;
    text-align: center;
  }
}
